/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
.navbar {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Img/bg1.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 100000;
}

nav.sticky{
    padding: 5px 100px;
    background: #fff;
}

nav a img{
   height: 90px;
   width: 150px;
   float: left;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
}
nav ul li a:hover {
    color: #ff0000;
    transition: 0.3s;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 15%;
    background: #FFF;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10%;
}

ul li ul.dropdown a {
    color: #ff0000;
    font-size: 15px;
}

ul li ul.dropdown a:hover {
text-decoration: overline;
}

ul li:hover ul.dropdown {
  display: list-item;
  margin-top: 10px;
  
}

button {
    border: none;
    background: #ff0000;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0!important;
    padding-bottom: 0!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #191a1c;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    z-index: 99
}

.content {
    color: #fff;
    justify-content: center;
 
}
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    min-height: 100vh;
}

.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Img/bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.section-main h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
}

.section-main h4 {
    color: #fff;
}


header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

header .sticky {
    background: #ff0000;
    padding: 20px 100px;
}

img {
    top: 0;
    left: 0;
    height: 100px;
    width: 150px;
    margin-top: 10px;
}

header.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 30px;
    border-radius: 30px; 
    transition: 0.3s;
    color: #fff;
}

header .menu a:hover{
    color: #ff0000;

}

header .btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}


/* media-queries */
@media (max-width: 1060px){
    header .btn {
        display: block;
    }

header .menu{
    position: fixed;
    background: #ff0000;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
}

header .menu.active {
    right: 0;
}

header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}

header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
}
}

@media (max-width: 630px){
    .section-main h1 {
        font-size: 50px;
        line-height: 60px;
    }
}